In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', 50)

In [57]:
df_tr = pd.read_csv('./Transactions_cognifitId.csv', encoding = 'ISO-8859-1')
df_cont = pd.read_csv('./contacts_with_transactions_01012017.csv', encoding = 'ISO-8859-1')
df_tr = df_tr.dropna(subset=['Transaction Type','Contact: Cognift User ID'])
df_cont = df_cont.dropna(subset=['Cognift User ID'])
df_tr['Contact: Cognift User ID']= df_tr['Contact: Cognift User ID'].astype(int)
df_cont['Cognift User ID']= df_cont['Cognift User ID'].astype(int)
df_tr['Transaction Date'] = pd.to_datetime(df_tr['Transaction Date'])
df_tr['Transaction Month'] = df_tr['Transaction Date'].dt.strftime('%B')

In [53]:
print(df_tr.shape)
print(df_cont.shape)

(45106, 17)
(164, 3)

In [58]:
df_tr.isnull().sum()

Transaction Date                     0
Contact: Age                      7072
Quantity                             0
Final Price                          0
Internal Code                        0
Element Table                        0
Transaction Type                     0
Contact: User Type                2401
User Professional                    0
Platform                             0
Contact: Country Location         2660
Contact: Created At               2401
Contact: Last seen On Android    44176
Contact: Last Seen on iOS        40236
Contact: Last Seen On Web        36321
Contact: Payment Status          44265
Contact: Cognift User ID             0
Transaction Month                    0
dtype: int64

In [55]:
df_tr.dtypes

Transaction Date                  object
Contact: Age                     float64
Quantity                           int64
Final Price                      float64
Internal Code                     object
Element Table                     object
Transaction Type                  object
Contact: User Type                object
User Professional                 object
Platform                          object
Contact: Country Location         object
Contact: Created At               object
Contact: Last seen On Android     object
Contact: Last Seen on iOS         object
Contact: Last Seen On Web         object
Contact: Payment Status          float64
Contact: Cognift User ID           int64
dtype: object

In [43]:
df_tr.dropna(subset=['Contact: Cognift User ID'])

,Transaction Date,Contact: Age,Quantity,Final Price,Internal Code,Element Table,Transaction Type,Contact: User Type,User Professional,Platform,Contact: Country Location,Contact: Created At,Contact: Last seen On Android,Contact: Last Seen on iOS,Contact: Last Seen On Web,Contact: Payment Status,Contact: Cognift User ID
0,2019-10-13 22:37:00,32.0,1,46.56,2019-10-13 22:37:22_4249_IPHONE,t_subscription,GENERAL_YEAR,NORMAL_USER,NORMAL_USER,iOS,Mexico,10/13/2019 10:21 PM,NaN,10/16/2019 3:18 AM,NaN,NaN,2526232.0
1,2017-04-04 00:35:00,30.0,1,19.99,2017-04-040035084522_phone_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,iOS,United States,2/24/2017 10:17 PM,NaN,NaN,NaN,NaN,1263492.0
2,2018-07-22 20:28:00,NaN,1,49.95,2018-07-222028318578_PROF_ASSESSMENTS_UNITS_1,assessmentUnits,NaN,SCHOOL_USER,SCHOOL_USER,WEB,United States,5/28/2018 1:12 AM,NaN,NaN,NaN,NaN,1732718.0
3,2019-09-11 05:56:00,59.0,1,22.05,2019-09-110556398391,t_subscription,ONE_MONTH,NORMAL_USER,NORMAL_USER,WEB,Austria,9/2/2019 5:28 PM,NaN,NaN,10/17/2019 9:50 AM,NaN,2455808.0
4,2017-04-04 01:10:00,14.0,1,19.95,in_1A4fCa2THcmd2P0dqogxnyf5_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,WEB,United States,5/20/2016 4:15 AM,NaN,NaN,NaN,NaN,1119878.0
5,2018-07-22 21:01:00,48.0,1,19.95,in_1Cqnjl2THcmd2P0d1QX1lx3w_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,WEB,United States,4/23/2018 2:37 AM,NaN,NaN,NaN,NaN,1689152.0
6,2019-10-14 00:37:00,22.0,1,19.99,2019-10-140037122317_phone_Renew,t_subscription,GENERAL_MONTH,NORMAL_USER,NORMAL_USER,iOS,United States,7/10/2019 8:16 PM,NaN,10/14/2019 5:06 AM,NaN,NaN,2373980.0
7,2017-04-04 01:10:00,60.0,1,20.00,in_1A4fCa2THcmd2P0dWt9PLeKV_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,WEB,Australia,3/30/2017 3:14 PM,NaN,NaN,NaN,NaN,1287720.0
8,2018-07-22 21:08:00,NaN,1,7.20,2018-07-222108285817_PROF_TRAINING_TRAINING_UN...,trainingUnits,TRAINING_UNITS,FAMILY_USER,FAMILY_USER,WEB,Argentina,7/14/2018 5:51 AM,NaN,NaN,NaN,NaN,1792621.0
9,2019-10-14 00:37:00,54.0,1,19.99,2019-10-140037149112_phone_Renew,t_subscription,GENERAL_MONTH,NORMAL_USER,NORMAL_USER,iOS,United States,8/11/2019 1:17 AM,NaN,9/22/2019 10:29 PM,NaN,NaN,2419493.0
10,2017-04-04 01:11:00,29.0,1,19.95,in_1A4fCZ2THcmd2P0dH6cEsz3T_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,WEB,Peru,8/15/2016 4:53 AM,NaN,NaN,NaN,NaN,1159218.0
11,2018-07-22 21:08:00,NaN,1,7.20,in_1Cqon32THcmd2P0d79CjGGqY_Renew,trainingUnits,TRAINING_UNITS,FAMILY_USER,FAMILY_USER,WEB,Argentina,7/14/2018 5:51 AM,NaN,NaN,NaN,NaN,1792621.0
12,2019-10-14 00:05:00,17.0,1,5.18,2019-10-14 00:05:37_9455_ANDROID_RENEW,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,ANDROID,Mexico,1/22/2019 4:05 AM,NaN,NaN,NaN,NaN,2082507.0
13,2017-04-05 01:37:00,55.0,1,13.00,in_1A51fc2THcmd2P0dGELLhKht_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,WEB,United States,7/4/2012 7:27 PM,NaN,NaN,NaN,NaN,243364.0
14,2018-07-22 21:24:00,29.0,1,105.95,in_1Cqp282THcmd2P0dQWqmVITI,t_subscription,PLUS_YEAR,NORMAL_USER,NORMAL_USER,WEB,France,3/1/2018 12:18 PM,NaN,NaN,NaN,NaN,1622914.0
15,2019-10-14 00:30:00,26.0,1,19.99,2019-10-14 00:30:52_1248_IPHONE,t_subscription,GENERAL_MONTH,NORMAL_USER,NORMAL_USER,iOS,United States,10/13/2019 7:17 PM,NaN,10/16/2019 10:17 PM,NaN,NaN,2526028.0
16,2017-04-05 01:38:00,50.0,1,13.00,in_1A51ff2THcmd2P0dhGQsMW5n_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,WEB,Spain,5/31/2014 2:50 PM,NaN,NaN,NaN,NaN,778794.0
17,2018-07-22 21:26:00,31.0,1,18.25,in_1Cqo7d2THcmd2P0dZa7Q84dX_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,WEB,Switzerland,10/23/2017 3:04 AM,NaN,NaN,NaN,NaN,1476156.0
18,2019-10-14 00:28:00,33.0,1,49.95,2019-10-140028375296_PPal,t_neuronpack,General Assessment,NORMAL_USER,NORMAL_USER,WEB,Australia,10/13/2019 7:24 AM,NaN,NaN,10/14/2019 1:31 AM,NaN,2525466.0
19,2017-04-05 01:38:00,68.0,1,17.75,in_1A51fc2THcmd2P0dV02vtIvf_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,WEB,Spain,12/17/2016 7:55 PM,NaN,NaN,10/18/2019 12:15 PM,NaN,1220495.0
20,2018-07-22 21:47:00,47.0,1,9.65,in_1CqoRx2THcmd2P0dJ1jfcOav_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,WEB,NaN,11/30/2014 8:50 PM,NaN,NaN,NaN,NaN,857298.0
21,2019-10-14 00:37:00,31.0,1,22.26,2019-10-140037030073_phone_Renew,t_subscription,GENERAL_MONTH,NORMAL_USER,NORMAL_USER,iOS,Australia,10/13/2018 1:23 PM,NaN,NaN,NaN,NaN,1917891.0
22,2017-04-05 01:38:00,53.0,1,19.95,in_1A51fe2THcmd2P0d8dK1svWK_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,WEB,United States,6/26/2015 12:44 AM,NaN,NaN,NaN,NaN,964622.0
23,2018-07-22 22:08:00,41.0,1,24.72,2018-07-22 22:08:33_1072_ANDROID,t_neuronpack,General Assessment,NORMAL_USER,NORMAL_USER,ANDROID,Spain,7/23/2018 5:00 AM,NaN,NaN,NaN,NaN,1803016.0
24,2019-10-14 00:37:00,39.0,1,21.88,2019-10-140037097103_phone_Renew,t_subscription,GENERAL_MONTH,NORMAL_USER,NORMAL_USER,iOS,Germany,5/13/2019 8:48 PM,NaN,NaN,NaN,NaN,2282640.0
25,2017-04-05 01:40:00,58.0,1,19.90,in_1A51fd2THcmd2P0dqS0sKE5R_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,WEB,United Kingdom,2/1/2017 11:40 PM,NaN,NaN,NaN,NaN,1246612.0
26,2018-07-22 23:36:00,50.0,1,3.75,2018-07-222336298154_PPal,t_subscription,PLUS_YEAR,NORMAL_USER,NORMAL_USER,WEB,Argentina,7/6/2018 2:52 AM,NaN,NaN,NaN,NaN,1782315.0
27,2019-10-14 00:37:00,45.0,1,89.99,2019-10-140037054872_phone_Renew,t_subscription,GENERAL_YEAR,NORMAL_USER,NORMAL_USER,iOS,United States,9/17/2018 5:12 AM,NaN,NaN,NaN,NaN,1876818.0
28,2017-05-30 00:35:00,79.0,1,22.71,2017-05-300035223569_phone_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,iOS,United Kingdom,7/25/2016 1:17 PM,NaN,NaN,NaN,NaN,1149796.0
29,2018-09-02 15:13:00,81.0,1,19.95,in_1D5wK02THcmd2P0dzAdRkW3R_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,WEB,United States,2/2/2018 9:47 PM,NaN,NaN,NaN,NaN,1590264.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45077,2019-09-06 12:01:00,28.0,1,38.60,2019-09-061201506421_PPal_Renew,t_subscription,THREE_MONTH,NORMAL_USER,NORMAL_USER,WEB,Austria,5/16/2019 6:23 PM,NaN,NaN,10/17/2019 1:58 PM,NaN,2288502.0
45078,2019-09-06 15:17:00,NaN,1,40.35,2019-09-061517274761_PROF_ASSESSMENTS_UNITS_1,assessmentUnits,GENERAL_ASSESSMENT,CLINICIAN_USER,CLINICIAN_USER,WEB,United Kingdom,9/5/2019 12:28 PM,NaN,NaN,10/15/2019 1:56 PM,NaN,2461199.0
45079,2019-09-06 13:34:00,39.0,1,20.00,2019-09-061334082881_PPal_Renew,t_subscription,ONE_MONTH,NORMAL_USER,NORMAL_USER,WEB,United States,9/7/2018 1:25 AM,NaN,NaN,NaN,NaN,1862517.0
45080,2019-09-06 15:05:00,27.0,1,20.00,in_1FFhzp2THcmd2P0d7mFiT1PA_Renew,t_subscription,ONE_MONTH,NORMAL_USER,NORMAL_USER,WEB,Singapore,5/6/2019 2:00 PM,NaN,9/15/2019 9:02 AM,NaN,NaN,2270954.0
45081,2019-09-06 21:29:00,49.0,1,35.00,in_1FFo2e2THcmd2P0d9JzlKMBd_Renew,t_subscription,THREE_MONTH,NORMAL_USER,NORMAL_USER,WEB,United States,6/7/2019 2:10 AM,NaN,NaN,NaN,NaN,2322193.0
45082,2019-10-16 12:15:00,45.0,1,49.99,2019-10-16 12:15:29_3819_IPHONE,t_subscription,GENERAL_YEAR,NORMAL_USER,NORMAL_USER,iOS,Jamaica,2/13/2013 2:16 AM,NaN,10/16/2019 12:15 PM,NaN,NaN,479249.0
45083,2019-09-06 14:50:00,25.0,1,35.00,in_1FFhmL2THcmd2P0d06LfTglr_Renew,t_subscription,THREE_MONTH,NORMAL_USER,NORMAL_USER,WEB,United States,8/5/2019 8:18 PM,NaN,NaN,10/18/2019 4:14 AM,NaN,2411866.0
45084,2019-09-06 17:20:00,19.0,1,22.05,2019-09-061720154489_PPal,t_subscription,ONE_MONTH,NORMAL_USER,NORMAL_USER,WEB,Netherlands,9/6/2019 5:03 PM,NaN,NaN,10/8/2019 7:12 PM,NaN,2463624.0
45085,2019-10-16 10:59:00,NaN,1,22.05,in_1FU9FB2THcmd2P0dYSmvUx8f_Renew,trainingUnits,TRAINING_UNITS,FAMILY_USER,FAMILY_USER,WEB,Ireland,5/14/2019 3:58 PM,NaN,NaN,10/10/2019 6:13 PM,NaN,2284645.0
45086,2019-09-06 13:48:00,59.0,1,13.00,2019-09-061348297900_PPal_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,WEB,United States,1/1/2011 8:00 AM,NaN,NaN,NaN,NaN,201466.0
45087,2019-10-16 12:00:00,34.0,1,99.25,in_1FUAD22THcmd2P0dVDm70LJy_Renew,t_subscription,ONE_YEAR,NORMAL_USER,NORMAL_USER,WEB,Spain,3/27/2018 4:34 PM,NaN,NaN,10/17/2019 11:10 AM,NaN,1656466.0
45088,2019-10-16 11:39:00,NaN,1,22.05,in_1FU9uI2THcmd2P0dhNLWFMzp_Renew,trainingUnits,TRAINING_UNITS,FAMILY_USER,FAMILY_USER,WEB,Poland,9/16/2019 10:35 AM,NaN,NaN,9/16/2019 10:41 AM,NaN,2479407.0
45089,2019-10-16 11:20:00,60.0,1,22.65,in_1FU9bU2THcmd2P0dqFOXOz7a_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,WEB,Israel,7/23/2018 11:51 AM,NaN,NaN,NaN,NaN,1803264.0
45090,2019-09-07 10:00:00,NaN,40,400.00,2019-09-071000399478_PROF_ASSESSMENTS_UNITS_40,assessmentUnits,GENERAL_ASSESSMENT,RESEARCHER_USER,RESEARCHER_USER,WEB,Egypt,10/14/2017 6:38 PM,NaN,NaN,10/11/2019 1:55 PM,NaN,1466444.0
45091,2019-09-07 11:16:00,41.0,1,22.25,2019-09-07 11:16:33_8572_IPHONE,t_subscription,GENERAL_MONTH,NORMAL_USER,NORMAL_USER,iOS,Italy,5/26/2019 1:04 PM,NaN,10/12/2019 6:21 PM,NaN,NaN,2304309.0
45092,2019-10-17 11:30:00,52.0,1,10.25,2019-10-171130104650_PPal_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,WEB,Russian Federation,11/12/2017 1:05 PM,NaN,NaN,NaN,NaN,1500068.0
45093,2019-09-06 04:49:00,19.0,1,0.00,2019-09-06 04:49:08_0815_ANDROID,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,ANDROID,Mexico,9/4/2019 6:04 PM,9/4/2019 6:04 PM,NaN,NaN,NaN,2459909.0
45094,2019-09-06 05:28:00,21.0,1,22.05,2019-09-060528520610_PPal,t_subscription,ONE_MONTH,NORMAL_USER,NORMAL_USER,WEB,Poland,9/5/2019 5:11 PM,NaN,NaN,9/6/2019 5:29 AM,NaN,2461764.0
45095,2019-09-07 10:51:00,34.0,1,93.92,2019-09-07 10:51:59_0553_ANDROID_RENEW,t_subscription,PLUS_YEAR,NORMAL_USER,NORMAL_USER,ANDROID,United Arab Emirates,8/19/2019 10:43 AM,NaN,NaN,NaN,NaN,2431338.0
45096,2019-09-07 11:43:00,NaN,12,200.50,2019-09-071143053147_PROF_TRAINING_UNITS_1x12,trainingUnits,TRAINING_UNITS,CLINICIAN_USER,CLINICIAN_USER,WEB,France,10/15/2018 2:41 PM,NaN,NaN,10/12/2019 4:51 PM,NaN,1921097.0
45097,2019-10-16 13:36:00,26.0,1,99.25,2019-10-161336145833_PPal_Renew,t_subscription,ONE_YEAR,NORMAL_USER,NORMAL_USER,WEB,Netherlands,10/14/2018 6:39 PM,NaN,NaN,NaN,NaN,1919835.0
45098,2019-09-06 14:03:00,53.0,1,99.25,2019-09-061403362757_PPal_Renew,t_subscription,ONE_YEAR,NORMAL_USER,NORMAL_USER,WEB,Germany,8/20/2018 3:54 PM,NaN,NaN,10/17/2019 3:13 PM,NaN,1838296.0
45099,2019-09-06 07:05:00,38.0,1,38.60,in_1FFaVZ2THcmd2P0d6T4hO2bL_Renew,t_subscription,THREE_MONTH,NORMAL_USER,NORMAL_USER,WEB,Poland,8/29/2017 12:45 PM,NaN,NaN,8/13/2019 3:31 AM,NaN,1415897.0
45100,2019-09-06 16:33:00,42.0,1,19.95,in_1FFjQl2THcmd2P0dgO8INVuY_Renew,t_subscription,PLUS_MONTH,NORMAL_USER,NORMAL_USER,WEB,United States,9/5/2017 8:16 PM,NaN,NaN,NaN,NaN,1423954.0
45101,2019-09-06 08:13:00,NaN,1,22.05,in_1FFbYN2THcmd2P0dFP9G8kX8_Renew,trainingUnits,TRAINING_UNITS,FAMILY_USER,FAMILY_USER,WEB,Germany,7/12/2018 9:33 PM,NaN,7/31/2019 12:18 PM,NaN,NaN,1790635.0
45102,2019-09-06 05:06:00,NaN,6,89.25,2019-09-060506410825_PROF_TRAINING_UNITS_2x3,trainingUnits,TRAINING_UNITS,CLINICIAN_USER,CLINICIAN_USER,WEB,Switzerland,6/13/2019 5:49 AM,NaN,NaN,NaN,NaN,2331530.0
45103,2019-09-07 11:28:00,NaN,1,22.25,in_1FG19l2THcmd2P0diQdvhAlD_Renew,trainingUnits,TRAINING_UNITS,FAMILY_USER,FAMILY_USER,WEB,Italy,7/6/2019 11:33 AM,NaN,8/13/2019 4:27 PM,9/22/2019 11:54 AM,NaN,2367298.0
45104,2019-09-07 12:23:00,44.0,1,60.00,2019-09-071223143311_PPal,t_subscription,ONE_YEAR,NORMAL_USER,NORMAL_USER,WEB,Spain,5/15/2014 9:04 AM,NaN,NaN,9/7/2019 12:52 PM,NaN,774373.0
45105,2019-09-07 13:03:00,41.0,12,200.50,2019-09-071302587399_PROF_TRAINING_UNITS_1x12,trainingUnits,TRAINING_UNITS,CLINICIAN_USER,CLINICIAN_USER,WEB,France,9/7/2019 12:31 PM,NaN,NaN,9/18/2019 2:23 PM,NaN,2464890.0
45106,2019-10-16 13:30:00,41.0,1,20.00,2019-10-161330383482,t_subscription,ONE_MONTH,NORMAL_USER,NORMAL_USER,WEB,United States,10/16/2019 1:11 PM,NaN,10/16/2019 1:38 PM,10/17/2019 11:17 AM,NaN,2532463.0

In [ ]:
df.head(20)

In [36]:
unique_trTypes = df_tr['Transaction Type'].unique()
for trType in unique_tr_types:
    try:
        if 'month' in trType.lower() and not (trType is None):
            print(trType)
    except:
        print(trType)

PLUS_MONTH
nan
ONE_MONTH
GENERAL_MONTH
TWO_MONTH
TRAININGMONTH_89
TRAININGMONTH_32
TRAININGMONTH_33
TRAININGMONTH_48
THREE_MONTH
DYSLEXIA_MONTH
TRAININGMONTH_8
DYSCALCULIA_MONTH
TRAININGMONTH_9
PREMIUM_MONTH
DEPRESSION_MONTH
ADHD_MONTH
TRAININGMONTH_10
INSOMNIA_MONTH
FIBROMYALGIA_MONTH
PARKINSON_MONTH

In [ ]:
df_tr.dtypes

In [11]:
df_tr['Transaction Date'] = pd.to_datetime(df_tr['Transaction Date'])

In [14]:
cadena = 'month'
print(cadena in 'ONE_month')

True

# NORMAL USERS

In [60]:
df_tr['User Professional'].unique()
df_tr = df_tr[(df_tr['User Professional'] == 'NORMAL_USER')]

In [61]:
df_tr['User Professional'].unique()

array(['NORMAL_USER'], dtype=object)